:root {
  --c12: #000000;
  --c11: #141414;
  --c10: #1f1f1f;
  --c9: #2c2c2c;
  --c8: #515151;
  --c7: #6f6f6f;
  --c6: #909090;
  --c5: #c1c1c1;
  --c4: #dedede;
  --c3: #eaeaea;
  --c2: #f2f2f2;
  --c1: #f7f7f7;
  --w: #fff;
  --p: #ffbb00;
  --p2: #f2a60c;
  --p3: #b16c0b;
  --p4: #461f04;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
